body {
  background-color: #333;
  font-family: 'Verdana'
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 4px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em
}

select {
  font-size: 1em;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#app {
  margin: 0 auto;
  max-width: 500px;
}